.SideNav {
  background-color: #e9d4ff; width: 200px; height: 100%; position: fixed; top: 0; left: 0;
  
  .logo_wrap {
    text-align: center;
    .logo { cursor: pointer; }
  }

  .access_info { gap: 10px; flex-wrap: wrap; }

  ul {
    li{
      &:hover { 
        button { color: #fff; }
      }
      &.on { 
        background-color: #fff;
        button { color: inherit; }
      }
    }
  }

  .btn_wrap {
    &.out {
      button{ border: 0.5px solid #6a32a5; }
    }
  }
}
