.swiper {
  height: 150px;

  .swiper-slide {
    border: 1px solid #222;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
.desc_wrap {
  margin-bottom: 2rem;

  > div {
    margin-bottom: 30px;
  }
  a {
    color: #6a32a5;
  }
  .desc_tit {
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom: 1px solid #0000000f;
    
    ~ * {
      padding-left: 20px;
      margin: 10px 0;
    }
  }
  img {
    width: 100%;
    margin-bottom: 10px;
  }
}
